html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 16px georgia, serif;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}
*,
:after,
:before {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'hk_groteskregular', georgia, serif;
  height: 100%;
  font-weight: 400;
  word-wrap: break-word;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'kern';
}
h1 {
  font-family: 'hk_groteskblack';
  font-size: 5rem;
  line-height: 5.5625rem;
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
}
h1::before {
    display: block;
    position: absolute;
    background-color: #1576fb;
    content: "";
    margin-left: -40px;
    width: 3px;
    top: 50%;
    height: 60%;
    transform: translate(-50%,-50%);
}

ul {
  list-style: none;
  margin: 0;
}
.logo {
  font-family: 'hk_groteskmedium';
  font-size: 1.6rem;
  min-width: 300px;
}
.logo a{
 text-decoration: none;
}
.logo a:active, .logo a:visited {
  color: #000;
}
.logo img{
display: inline;
vertical-align: middle;
}
.logo span{
  vertical-align: middle;
  margin-left: 25px;
}
.wrapper {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  padding: 4.5vw;
  height: 100vh;
}

.grid {
  width: 100%;
}
.sidebar {
  display: grid;
}

.content {
  font-size: 2.5rem;
}
.nav {
  font-size: 1.625rem;
  line-height: 2.5rem;
}


.menu {
  
}
.menu > ul {
  transition: max-height 0.25s linear;
}
.menu ul {
  margin-top: 10px;
}
.menu li {
  transition: visibility 0.25s linear;
}

.menu a, .menu a:active, .menu a:visited {
  text-decoration: none;
  color: #000;
}
.menu li:hover a,.menu a[aria-current="page"] {
  text-decoration:line-through;
  color:#1576fb;
}


@media (max-width: 1020px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 901px) {
  .content {
    padding-left: 40px;
}
  .grid {
    display: grid;
  }
  .grid {
    grid-template-columns: 1fr 3fr;
  }
  .sidebar {
    grid-template-rows: 1fr 3fr;
  }
  
}
@media (max-width: 900px) {
  html {
    font-size: 12px;
  }
  .content {
    padding-top: 20px;
  }
  .wrapper {
    padding: 20px;
  }
  .sidebar {
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .nav {
    padding: 5px;
  }
  .menu > ul {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    position: absolute;
    background-color:white;
    left: 0;
    margin: 0;
    top: 80px;
    z-index: 1;
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
  }
  .menu li {
    visibility: hidden;
    display: block;
    padding: 0.5em 0.6em;
    border: none;
  }
  
  .menu li ul {
    margin-top: 0.5em;
    border-left: 1px solid #000;
  }
  .menu .navbar-handle {
    display: block;
    float: right;
  }
  #navbar-checkbox:checked + .menu ul {
    max-height: 300px;
  }
  #navbar-checkbox:checked + .menu li {
    visibility: visible;
  }
  #navbar-checkbox:checked + .menu .navbar-handle,
  #navbar-checkbox:checked + .menu .navbar-handle:after,
  #navbar-checkbox:checked + .menu .navbar-handle:before {
    border-color: #aaa;
  }
}
.navbar-checkbox {
  display: none;
}
.navbar-handle {
  display: none;
  cursor: pointer;
  position: relative;
  font-size: 45px;
  padding: 0.5em 0;
  height: 0;
  width: 1.25em;
  border-top: 0.13333333em solid;
}
.navbar-handle:before,
.navbar-handle:after {
  position: absolute;
  left: 0;
  right: 0;
  content: ' ';
  border-top: 0.13333333em solid;
}
.navbar-handle:before {
  top: 0.25em;
}
.navbar-handle:after {
  top: 0.65em;
}
.omenu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.menu0 .navbar-handle {
  position: absolute;
  font-size: 1.2em;
  top: 0.7em;
  right: 12px;
  z-index: 10;
}


#particle-canvas{
  position: fixed;
  top: 0;
  right: 0;
  min-height:600px;
  height: 50%;
  width: 50%;
  z-index: -1;
}

@media (max-width: 900px) {
  #particle-canvas{
  bottom:0;
  width: 100%;
  min-height:auto;
  top: auto;
  }
}