.works {
  position: relative;
}

.cards {
  position: absolute;
  opacity: 0;
}

.works h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.works p {
  font-size: 1.3rem;
    max-width: 700px;
    line-height: 2rem;
 
}


@keyframes img-holder-enter {
  0% {
    transform: scale(.8) translate(0, 100vh);
    overflow: hidden;
  }
  30% {
    transform: scale(.8) translate(0%, 0%);
    overflow: hidden;
  }
  100% {
    transform: scale(1) translate(0%, 0%);
    transform: none;
  }
}

@keyframes para-enter {
  0% {
    transform: translate(-100vW, -10vh);
    opacity: 0;
  }
  70% {
    transform: translate(-100vW, -10vh);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

@keyframes header-enter {
  0% {
    transform: translate(-100vW, -100vh);
    opacity: 0;
  }
  70% {
    transform: translate(-100vW, -100vh);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0%);
    opacity: .9;
  }
}

@keyframes img-enter {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  70% {
    transform: scale(.75);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}


@keyframes para-leave {
  0% {
    transform: translate(0%, 0%);
    opacity: .9;
  }
  50% {
    transform: translate(0%, 0%);
    opacity: .9;
  }
  100% {
    transform: translate(-100vW, -10vh);
    opacity: 0;
  }
}

@keyframes header-leave {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  50% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100vW, -100vh);
    opacity: 0;
  }
}

@keyframes img-leave {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(.75) translate(-15%, 0%);
    
  }
  100% {
    transform: scale(.75) translate(-15%, -100vh);
    opacity: 0;
  }
}

@media (min-width: 901px) {
  .screen {
    position: absolute;
    opacity: 0;
  }
  .screen.one {
    margin-top:150px;
  }
  .screen.active {
    opacity: 1;
  }

}
@media (max-width: 900px) { 
  .screen {
    margin-bottom: 50px;
  }
  .works h1{
    line-height: 4rem;
    padding-bottom: 0px;
  }
  .works p {
    margin-bottom: 20px;
  }
}